In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from src.utils import cost, write_submission_global, test_model, final_model

#### Get dataset

In [2]:
from src.all_train import X_train, X_test, Y_train, Y_test, test_data, train_set, label_set

#### Training and output result

In [3]:
%%time
from sklearn.linear_model import LinearRegression
lr_model, cost_train, cost_test = test_model(LinearRegression(), X_train, X_test, Y_train, Y_test)

24967.127251288715 23955.674102599136
CPU times: user 7.48 ms, sys: 10.6 ms, total: 18 ms
Wall time: 6.18 ms

In [4]:
lr_model = final_model(LinearRegression(), train_set, label_set)
train_answer = lr_model.predict(train_set)
test_answer = lr_model.predict(test_data)
np.save("aid/all_train_train_lr", train_answer)
np.save("aid/all_train_test_lr", test_answer)
write_submission_global(lr_model, cost_train, cost_test, test_data, output_name="lr_all_train")

In [5]:
%%time
from lightgbm import LGBMRegressor
lgbm_model, cost_train, cost_test = test_model(LGBMRegressor(num_leaves=8, 
                                                             max_depth=3, 
                                                             learning_rate=0.07, 
                                                             objective="mae",
                                                             random_state=0), 
                                              X_train, X_test, Y_train, Y_test)

16222.017026437676 15421.446194922608
CPU times: user 1.44 s, sys: 329 Âµs, total: 1.44 s
Wall time: 130 ms

In [6]:
lgbm_model = final_model(LGBMRegressor(num_leaves=8, 
                                       max_depth=3, 
                                       learning_rate=0.07, 
                                       objective="mae",
                                       random_state=0), train_set, label_set)
train_answer = lgbm_model.predict(train_set)
test_answer = lgbm_model.predict(test_data)
np.save("aid/all_train_train_lgbm", train_answer)
np.save("aid/all_train_test_lgbm", test_answer)
write_submission_global(lgbm_model, cost_train, cost_test, test_data, output_name="lgbm_all_train")

In [7]:
pd.read_csv("output/lr_all_train_24967.13_23955.67.csv").describe()

                Id     engagement
count  1871.000000    1871.000000
mean   1248.167290   20583.391370
std     723.581881   30592.294387
min       1.000000      -0.000000
25%     624.500000    4189.061791
50%    1240.000000   15045.830443
75%    1873.000000   25648.364619
max    2500.000000  442090.376266

In [8]:
pd.read_csv("output/lgbm_all_train_16222.02_15421.45.csv").describe()

                Id     engagement
count  1871.000000    1871.000000
mean   1248.167290    5878.699824
std     723.581881   13359.117499
min       1.000000      -0.000000
25%     624.500000      17.282435
50%    1240.000000     840.019162
75%    1873.000000    6519.626597
max    2500.000000  102188.432842