In [1]:
%load_ext autoreload
%autoreload 2


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from src.utils import label, author_data, sample_submission, train, test, features_author
from src.utils import quantile_50, mean_, fill
from src.utils import cost, write_submission_local

from src.single_author import train_single_author, train_single_author_LGBM, replace_nan

In [2]:
# Get single author data
grouped = author_data.groupby("author")

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
%%time
train_answer = train_single_author(train, grouped, LinearRegression)
test_answer = train_single_author(test, grouped, LinearRegression)
cost = np.abs(train.engagement - replace_nan(train_answer, fill)).mean()
np.save("aid/single_author_train_lr", train_answer)
np.save("aid/single_author_test_lr", test_answer)
write_submission_local(replace_nan(test_answer, fill), cost, output_name="single_author_lr")

4156it [00:22, 187.75it/s]
1871it [00:07, 237.06it/s]

17354.92052065119
CPU times: user 2min 46s, sys: 2.65 s, total: 2min 48s
Wall time: 30 s

In [5]:
%%time
train_answer = train_single_author_LGBM(train, grouped)
test_answer = train_single_author_LGBM(test, grouped)
cost = np.abs(train.engagement - replace_nan(train_answer, fill)).mean()
np.save("aid/single_author_train_lgbm", train_answer)
np.save("aid/single_author_test_lgbm", test_answer)
write_submission_local(replace_nan(test_answer, fill), cost, output_name="single_author_lgbm")

4156it [00:56, 73.27it/s]
1871it [00:24, 77.20it/s]

17149.943728541908
CPU times: user 16min 2s, sys: 8.34 s, total: 16min 10s
Wall time: 1min 20s

In [6]:
pd.read_csv("output/single_author_lr_17354.92.csv").describe()

                Id     engagement
count  1871.000000    1871.000000
mean   1248.167290    6230.629029
std     723.581881   39266.857737
min       1.000000      -0.000000
25%     624.500000       3.068370
50%    1240.000000     141.792867
75%    1873.000000    1666.495670
max    2500.000000  963103.520298

In [7]:
pd.read_csv("output/single_author_lgbm_17149.94.csv").describe()

                Id     engagement
count  1871.000000    1871.000000
mean   1248.167290    3677.307256
std     723.581881   16171.204653
min       1.000000       0.000000
25%     624.500000       0.004406
50%    1240.000000      37.140305
75%    1873.000000     660.172462
max    2500.000000  282615.500000