In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from src.utils import cost, write_submission_global, test_model ,final_model

#### Get dataset

In [2]:
from src.all_author import X_train, X_test, Y_train, Y_test, test_data, train_set, label_set

#### Training and output result

In [3]:
%%time
from sklearn.linear_model import LinearRegression
lr_model, cost_train, cost_test = test_model(LinearRegression(), X_train, X_test, Y_train, Y_test)

2306.2497978751053 2312.1998479607664
CPU times: user 221 ms, sys: 21.1 ms, total: 242 ms
Wall time: 115 ms

In [4]:
lr_model = final_model(LinearRegression(), train_set, label_set)
train_answer = lr_model.predict(train_set)
test_answer = lr_model.predict(test_data)
np.save("aid/all_author_train_lr", train_answer)
np.save("aid/all_author_test_lr", test_answer)
write_submission_global(lr_model, cost_train, cost_test, test_data, output_name="lr_all_author")

In [5]:
%%time
from lightgbm import LGBMRegressor
lgbm_model, cost_train, cost_test = test_model(LGBMRegressor(num_leaves=16, 
                                                             max_depth=4, 
                                                             learning_rate=0.07, 
                                                             objective="mae",
                                                             random_state=0), 
                                              X_train, X_test, Y_train, Y_test)

1369.7178607817607 1364.8415663989142
CPU times: user 18.2 s, sys: 382 ms, total: 18.6 s
Wall time: 2.42 s

In [6]:
lgbm_model = final_model(LGBMRegressor(num_leaves=16, 
                                       max_depth=4, 
                                       learning_rate=0.07, 
                                       objective="mae",
                                       random_state=0), train_set, label_set)
train_answer = lgbm_model.predict(train_set)
test_answer = lgbm_model.predict(test_data)
np.save("aid/all_author_train_lgbm", train_answer)
np.save("aid/all_author_test_lgbm", test_answer)
write_submission_global(lgbm_model, cost_train, cost_test, test_data, output_name="lgbm_all_author")

In [7]:
pd.read_csv("output/lr_all_author_2306.25_2312.20.csv").describe()

                Id     engagement
count  1871.000000    1871.000000
mean   1248.167290    2092.049436
std     723.581881    4911.965744
min       1.000000      -0.000000
25%     624.500000    1175.141936
50%    1240.000000    1479.984176
75%    1873.000000    2073.919250
max    2500.000000  106789.009408

In [8]:
pd.read_csv("output/lgbm_all_author_1369.72_1364.84.csv").describe()

                Id   engagement
count  1871.000000  1871.000000
mean   1248.167290   499.380925
std     723.581881  1002.063319
min       1.000000    -0.000000
25%     624.500000     3.840621
50%    1240.000000    60.065709
75%    1873.000000   450.892048
max    2500.000000  6810.653929